<ion-view view-title="Main" hide-nav-bar="true" class="splash-page">
    <ion-content scroll="false" style="background-image: url(img/background.png);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center; color: white; display:-webkit-flex;-webkit-justify-content:center;-webkit-align-items:center;">
        <div class="col text-center">
            <div class="col col-center">
                <div class="padding">
                    <img src="img/auf_logo.png"
                         style="height: auto !important; width: auto !important; max-width: 25% !important;">
                </div>
                <div class="padding">
                    <h3 class="title light">AUF Mobile SchoolBliz</h3>
                    <h5 class="padding-top title light">Access your student data<br>anytime, anywhere</h5>
                </div>
                <div>
                    <hr style="max-width: 90%">
                </div>
                <div class="padding">
                    <button class="button button-clear button-block light" ng-click="openSignInModal()">Sign In</button>
                </div>
                <div class="padding">
                    <h4 class="button button-clear button-block light" ng-click="openForgotPasswordModal()">Forgot
                        Password</h4>
                </div>
                <div class="padding">
                    <h4 class="button button-clear button-block light">Help</h4>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>