<ion-modal-view ng-controller="ForgotPasswordCtrl" class="forgotModal">
    <ion-content class="center ion-content">
        <div class="padding-top padding-left padding-right">
            <p class="padding-top padding-left padding-right">Please enter your ID number. Your SchoolBliz username and
                password will be
                sent to your registered e-mail address.</p>
        </div>
        <div class="card">
            <label class="item-input">
                <input type="text" ng-model="user.idNumber" name="idNumber" placeholder="ID Number">
            </label>
        </div>
        <div class="center padding-top" ng-show="isLoading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="row" ng-show="!isLoading">
            <div class="col">
                <button class="col button button-positive" ng-click="closeForgotPasswordModal()">Cancel</button>
            </div>
            <div class="col">
                <button class="col button button-positive action-button" ng-click="forgotPassword()">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
