<ion-modal-view ng-controller="SignInCtrl" class="signInModal">
    <ion-content class="ion-content">
        <div class="card">
            <label class="item-input">
                <input type="text" ng-model="user.username" name="username" placeholder="Username">
            </label>
        </div>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <input type="password" ng-model="user.password" placeholder="Password">
                </label>
            </div>
        </div>
        <div class="center padding-top" ng-show="isLoading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="row" ng-show="!isLoading">
            <div class="col">
                <button class="col button button-positive" ng-click="closeSignInModal()">Cancel</button>
            </div>
            <div class="col">
                <button class="col button button-positive action-button" ng-click="signIn()">
                    Sign In
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
