<style>
    div.spinner {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 85px;
        text-align: center;
    }
</style>
<ion-view view-title="Dashboard">

    <ion-content scroll="false" class="has-header" ng-show="{{loading}}">
        <div class="spinner" style="">
            <ion-spinner></ion-spinner>
            <h4 class="center">{{indicator}}</h4>
        </div>
    </ion-content>

    <ion-content class="padding" ng-show="{{!loading}}">
        <div class="list card">
            <div class="item item-divider">Requirements For Clearance</div>
            <div class="item item-body">
                <div ng-bind-html='requirements'>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Academic Interventions</div>
            <div class="item item-body">
                <div ng-bind-html='interventions'>
                </div>
            </div>
        </div>

        <h4 class="center" ng-show="{{noSchedule}}">No schedule data found</h4>

        <div ng-show="{{!noSchedule}}">
            <h4 class="padding-left">Schedule</h4>

            <div class="button-bar padding">
                <a class="button button-positive" ng-click="selectDay($index)" ng-repeat="s in schedule"
                   ng-class="s.selected ? '' : 'button-outline'" style="padding: 0;">{{s.day | cut:true:3}}</a>
            </div>

            <div class="list card" ng-repeat="s in selectedDay.subjects">
                <!--<div class="item item-divider">{{s.time}}</div>-->
                <div class="item item-body">
                    <div>
                        <h2 class="subjectTitle">{{s.title}}</h2>
                        <p>
                        {{s.time}}<br>
                        {{s.room}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
